/**************************************************************************
Styling for the Home Page (index.php)
**************************************************************************/
@import "error.css";
@import "buttons.css";
@import "burger.css";
:root{

  --mask-offset: clamp(36px, 10vw, 66px);

}
html {

  scrollbar-width: none;

}

body {
 /*  background-size: cover!important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url(../images/background-light.png);
  background-attachment: fixed; */
  margin: 0;
  -ms-overflow-style: none;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

section{

  scrollbar-width: none;

}

section::-webkit-scrollbar {
  display: none;
}

.scroll-container{

    /* scroll-snap-type: y mandatory;  */
    overflow-y: hidden;
    display: grid;
    place-items: center;
    scroll-behavior: smooth;
    

}

.scroll-container::-webkit-scrollbar{

  display: none;

}


.scroll-item{

  block-size: calc(92vh - 32px);
  width: calc(90vw - 64px);
/*   display: grid;
  place-items: center;
  background-color: red; */
  margin-bottom: calc(4vh + 32px);
  
  clip-path: polygon(0 68.01px, 40px 40px, 68.01px 0, calc(100% - 68.01px) 0, calc(100% - 40px) 40px, 100% 68.01px, 100% calc(100% - 68.01px), calc(100% - 40px) calc(100% - 40px), calc(100% - 68.01px) 100%, 68.01px 100%, 40px calc(100% - 40px), 0 calc(100% - 68.01px));

}

.scroll-item img{

  object-fit: cover;
  width: inherit;
  height: inherit;

}

/* section:nth-of-type(2n)
{

  background-color: green;

} */

section:first-of-type{

  margin-top: 4vh;

}

.pageContent{

    transition: all 1s ease 0s;
    display: flex;
    flex-direction: column;
  
}


.maskDiv{

  /* -webkit-mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 20px), #0000 98%, #000);
    mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 20px), #0000 98%, #000); */

}


/**************************************************************************
Start of multiple borders and their corner decorations
**************************************************************************/

.outer-border {
	border: 2px solid black;
  /* height: 98%; */
  padding: 4px;
  margin: 0 auto;

  overflow-y: hidden;
}

.mid-border {
    border: 4px solid black;
    /*height: 98%;*/
    padding: 4px;
    margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid black;
  height: calc(100vh - 30px);
}

/* Decorations */
.corner-decoration {
	position: fixed;
    width: 2em;
    margin: 13px;
    z-index: 3;
}


.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	 -webkit-transform: scale(-1);
  	transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}

/**************************************************************************
End of border start of media queries
**************************************************************************/
@media (max-width: 768px) {

  /* .maskDiv {
  
      -webkit-mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 8px), #0000 98%, #000);
      mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 8px), #0000 98%, #000);
  
  } */

  .scroll-item {

    width: calc(98vw - 64px);
    block-size: calc(86vh - 32px);
    margin-bottom: calc(7vh + 32px);

  }

  section:first-of-type {

    margin-top: 7vh;

  }

  .corner-decoration{

    width: 2.8em;

  }

} 
 
@media (max-width: 450px){

  .mid-border{

    border: 3px solid;

  }

  .corner-decoration.corner-right-bottom {
    margin-bottom: 15px;
  }

  .corner-decoration.corner-left-bottom {
    margin-bottom: 15px;
  }

  /* .maskDiv {

    -webkit-mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 2px), #0000 98%, #000);
    mask: radial-gradient(var(--mask-offset) at 100% calc(var(--mask-offset)/2 - 2px), #0000 98%, #000);

  } */

}

