/**************************************************************************
Styling for the Home Page (index.php)
**************************************************************************/

html {

  scrollbar-width: none;

}

body {
  background-size: cover!important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url(../images/background-light.png);
  background-attachment: fixed;
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

section{

  scrollbar-width: none;

}

section::-webkit-scrollbar {
  display: none;
}

.scroll-container{

    /* scroll-snap-type: y mandatory;  */
    overflow-y: hidden;
    display: grid;
    place-items: center;
    scroll-behavior: smooth;

}

.scroll-container::-webkit-scrollbar{

  display: none;

}


.scroll-item{

  block-size: calc(100vh - 64px);
  width: calc(98vw - 64px);
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */

  display: grid;
  place-items: center;
  background-color: red;
  /* margin-top: calc(6vh + 42px); */
  /* margin: calc(5vh + 9px) 0px; */
  margin-top: 17px;

}

section:nth-of-type(2n)
{

  background-color: green;

}

section:last-of-type{

  margin-bottom: calc(6vh + 42px);

}



/**************************************************************************
Start of border
**************************************************************************/

.outer-border {
	border: 2px solid black;
  /*height: 98%;*/
  padding: 4px;
  margin: 0 auto;

  overflow-y: hidden;
}

.mid-border {
    border: 4px solid black;
    /*height: 98%;*/
    padding: 4px;
    margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid black;
  height: calc(100vh - 30px);
}

/* Decorations */
.corner-decoration {
	position: fixed;
    width: 2em;
    margin: 13px;
}


.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	 -webkit-transform: scale(-1);
  	transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}
/*
@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
*/

/**************************************************************************
End of border start of media queries
**************************************************************************/

 
@media (max-width: 450px){

  .mid-border{

    border: 3px solid;

  }

}

